version: '0.1'

services:
  airflow-webserver:
    build:
      context: ../
      dockerfile: docker/Dockerfile
    image: data-catalog-airflow:$IMG_VERSION
    container_name: airflow-webserver
    ports:
      - "28080:8080"
    environment:
      - AIRFLOW_HOME=/airflow
    volumes:
      - $DATA_CATALOG_SOLUTION_DATA/airflow:/airflow
      - /etc/hosts:/etc/hosts
    command: ["sh", "-c", "set -e;/entrypoint-webserver.sh"]

  airflow-scheduler:
    build:
      context: ../
      dockerfile: docker/Dockerfile
    image: data-catalog-airflow:$IMG_VERSION
    container_name: airflow-scheduler
    environment:
      - AIRFLOW_HOME=/airflow
    volumes:
      - $DATA_CATALOG_SOLUTION_DATA/airflow:/airflow
      - /etc/hosts:/etc/hosts
    command: ["sh", "-c", "set -e;/entrypoint-scheduler.sh"]
